.login-page {
  height: 100%;

  .text-center {
    height: calc(100vh - 170px);
    padding-bottom: 40px;
    align-items: center;
    padding-top: 40px;
    display: flex;

    .form-signin {
      max-width: 430px;
      padding: 15px;
      margin: auto;
      width: 100%;

      .form-floating:focus-within {
        z-index: 2;
      }

      .checkbox {
        font-weight: 400;
      }

      input[type="password"] {
        margin-bottom: 10px;
      }
    }
  }
}