.navbar-panel {
  background-color: rgba(0, 0, 0, 0.3) !important;

  ul.nav {
    display: block;

    li {
      display: inline-block;

      button {
        background-color: transparent;
        border: none;
        color: white;

        &::after {
          content: none;
        }

        &.status {
          &.online {
            color: var(--success);
          }

          &.offline {
            color: var(--danger)
          }
        }
      }

      .btn-group {
        button {
          //padding: 0 1rem 1rem 1rem;
        }
      }
    }

    &.nav-left {
      text-align: left;
      padding-left: 0;

      li {
        border-right: 1px solid rgba(0, 0, 0, .15);
      }
    }

    &.nav-right {
      text-align: right;
      padding-right: 0;

      li {
        border-left: 1px solid rgba(0, 0, 0, .15);
      }
    }

    &.nav-center {
      text-align: center;
    }

    &.nav-center, &.nav-right, &.nav-left {
      li {
        height: 40px;

        .btn-group {
          vertical-align: unset;
        }

        .dropdown-menu {
          .dropdown-item {
            i {
              margin-right: 0.50rem;
              margin-left: -0.50rem;
              text-align: center;
              width: 20px;
            }
          }
        }
      }
    }
  }
}