.pos-content-wrapper {
  height: calc(100vh - 58px);
  margin: 0;

  .panel-left {
    border: 2px solid rgba(255, 255, 255, 0.1);
    background-color: hsla(0, 0%, 95%, 0.5);
    border-radius: 0.25rem;
    position: relative;
    margin-bottom: 3px;
    margin-top: 4px;

    .products {
      position: absolute;
      overflow: auto;
      bottom: 132px;
      width: 100%;
      padding: 0;
      right: 0;
      top: 0;

      .list {
        table {
          tr {
            &.highlight {
              transition: background .25s linear;
              background-color: #ffe985;
            }
          }

          th, td {
            padding: 15px 0;
          }

          th {
            font-weight: 700;
            font-size: 14px;
          }

          td {
            padding: 12px 0;
            font-size: 14px;
          }

          .name {
            text-overflow: ellipsis;
            overflow: hidden;
            cursor: default;
            width: 60%;
          }

          .count {
            position: relative;
            text-align: center;
            min-width: 80px;

            input {
              background-color: transparent;
              border: 0 !important;
              position: absolute;
              width: 80px;
              bottom: 0;
              right: 0;
              left: 0;
              top: 0;

              &:focus {
                outline: none;
              }
            }
          }

          .price, .total {
            vertical-align: middle;
            text-align: right;
            min-width: 85px;
            cursor: default;
          }

          .trash {
            vertical-align: middle;
            padding: 0;

            i {
              text-align: center;
              width: 50px;


            }

            &.remove {
              font-size: 1.5rem;
              cursor: pointer;
            }
          }

          .name {
            padding-left: 15px;
          }

        }
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .summary {
      border-top: 1px solid var(--gray);
      position: absolute;
      padding: 1rem;
      width: 100%;
      bottom: 0;
      left: 0;

      dt {
        display: inline-block;
        white-space: nowrap;
        vertical-align: top;
        position: relative;
        font-size: 14px;
        width: 50%;
      }

      dd {
        display: inline-block;
        white-space: nowrap;
        vertical-align: top;
        text-align: right;
        font-weight: 700;
        font-size: 14px;
        width: 50%;
      }

      .total {
        dt {
          white-space: nowrap;
          font-weight: 700;
          font-size: 15px;
        }

        dd {
          white-space: nowrap;
          font-size: 18px;
          padding-left: 0;
        }
      }

      .buttons {
        .action {
          .btn-group, button {
            width: 50%;

            &::after {
              content: none;
            }

            .dropdown-menu {
              button {
                line-height: 1.2em;
                padding: 6px 20px;
                min-height: 40px;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  .panel-center {
    height: calc(100vh - 56px);
    padding-left: 20px;
    padding-top: 1px;
    overflow: scroll;

    .products-list {

      .col {
        padding: 2px;

        .card {
          background-color: rgba(255, 255, 255, 0.55);
          cursor: pointer;

          .card-body {
            padding: 0.75rem 0.25rem;
            font-weight: 500;

            .card-text {
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              margin: 0;

              &.product-price {
                color: var(--red);
              }
            }
          }
        }
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .panel-right {
    .categories {
      position: relative;

      #categories-list {
        position: absolute;
        overflow: auto;
        bottom: 40px;
        top: 40px;

        button {
          background-color: rgba(255, 255, 255, 0.45);
          min-height: 3.5rem;
          margin: 2px 0;
        }

        &::-webkit-scrollbar {
          display: none;
        }
      }

      .arrow-down, .arrow-up {
        background-color: rgba(66, 139, 202, 0.72);
        position: absolute;
        z-index: 1;
        right: 0;
      }

      .arrow-down {
        bottom: 0;
      }

      .arrow-up {
        top: 0;
      }
    }
  }
}